SERVICE_NAME=adminer
COMPOSE_PROJECT_NAME=homelab-adminer
CONTAINER_NAME=homelab-adminer

ADMINER_IMAGE=adminer:4

ADMINER_PORT=8080

# DB connection (points to mariadb container)
DB_HOST=mariadb
DB_PORT=3306
SERVICE_DATA_SUBDIR=services/adminer
