(authenticate) {
	reverse_proxy /outpost.goauthentik.io/* authentik-server:9000

	forward_auth authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}
}
# Replace this with your domain name.
*.home.arpa {

	@adminer host adminer.home.arpa
	handle @adminer {
		# Uncomment below to enable authentication
		 import authenticate

		reverse_proxy homelab-adminer:8080
	}

	@api host api.home.arpa
	handle @api {
		reverse_proxy app-api:8000
	}

	@authentik host authentik.home.arpa
	handle @authentik {
		reverse_proxy authentik-server:9000
	}
	@uptime host uptime.home.arpa
	handle @uptime {
		reverse_proxy uptime-kuma:3001
	}

	@dozzle host dozzle.home.arpa
	handle @dozzle {
		reverse_proxy dozzle:8080
	}

	@homer host homer.home.arpa
	handle @homer {
		reverse_proxy homer:8080
	}

	@loki host loki.home.arpa
	handle @loki {
		reverse_proxy loki:3100
	}
	@grafana host grafana.home.arpa
	handle @grafana {
		reverse_proxy grafana:3000
	}
	@dockhand host dockhand.home.arpa
	handle @dockhand {
		reverse_proxy dockhand:3000
	}
	@ntfy host ntfy.home.arpa
	handle @ntfy {
		reverse_proxy ntfy:80
	}
	@cyberchef host cyberchef.home.arpa
	handle @cyberchef {
		reverse_proxy cyberchef:8000
	}
	@it-tools host tools.home.arpa
	handle @it-tools {
		reverse_proxy it-tools:80
	}
}

