{
    local_certs
}

http://api.home.arpa {
    redir https://api.home.arpa{uri} permanent
}

https://api.home.arpa {
    tls internal
    reverse_proxy app-api:8000
}

http://adminer.home.arpa {
    redir https://adminer.home.arpa{uri} permanent
}

https://adminer.home.arpa {
    tls internal
    reverse_proxy homelab-adminer:8080
}

http://authentik.home.arpa {
    redir https://authentik.home.arpa{uri} permanent
}

https://authentik.home.arpa {
    tls internal
    reverse_proxy authentik-server:9000
}
