SERVICE_DATA_SUBDIR=app-api
CONTAINER_NAME=app-api

APP_PORT=8081

DB_HOST=mariadb
DB_PORT=3306
DB_NAME=db-name
DB_USER=db-user
DB_PASSWORD=db-user-pass
DB_CONNECT_RETRIES=30
DB_CONNECT_RETRY_DELAY=2
