CONTAINER_NAME=miniflux
SERVICE_DATA_SUBDIR=miniflux

DATABASE_URL=postgres://miniflux_user:replaceme@postgres:5432/miniflux?sslmode=disable

MINIFLUX_DOMAIN=miniflux.home.arpa
ADMIN_USER=admin
ADMIN_PASS=replaceme(6 chars or more)
