CONTAINER_NAME=wallabag
SERVICE_DATA_SUBDIR=wallabag

DB_HOST=mariadb
DB_NAME=wallabag_db
DB_USER=wallabag_user
DB_PASSWORD=replaceme

WALLABAG_DOMAIN=wallabag.home.arpa

SYMFONY__ENV__DATABASE_DRIVER=pdo_mysql
SYMFONY__ENV__DATABASE_HOST=mariadb
SYMFONY__ENV__DATABASE_PORT=3306
SYMFONY__ENV__DATABASE_NAME=wallabag_db
SYMFONY__ENV__DATABASE_USER=wallabag_user
SYMFONY__ENV__DATABASE_PASSWORD=replaceme
SYMFONY__ENV__DATABASE_CHARSET=utf8mb4
SYMFONY__ENV__DATABASE_TABLE_PREFIX=wallabag_

SYMFONY__ENV__DOMAIN_NAME=https://wallabag.home.arpa
SYMFONY__ENV__SERVER_NAME=Wallabag

SYMFONY__ENV__SECRET=$(openssl rand -hex 32)
