SERVICE_DATA_SUBDIR=authentik

CONTAINER_NAME=authentik-server

# Authentik
AUTHENTIK_SECRET_KEY=replaceme
AUTHENTIK_ERROR_REPORTING__ENABLED=false

# DB
AUTHENTIK_POSTGRESQL__HOST=db-name
AUTHENTIK_POSTGRESQL__NAME=name
AUTHENTIK_POSTGRESQL__USER=name
AUTHENTIK_POSTGRESQL__PASSWORD=replaceme

# Redis
AUTHENTIK_REDIS__HOST=authentik-redis

# URLs
AUTHENTIK_HOST=https://auth.home.arpa
