SERVICE_NAME=pihole
COMPOSE_PROJECT_NAME=homelab-pihole
CONTAINER_NAME=homelab-pihole

PIHOLE_IMAGE=pihole/pihole:2026.04.0
PIHOLE_WEBPASS=replaceme


PIHOLE_WEB_PORT=8082
PIHOLE_DNS_PORT=53

SERVICE_DATA_SUBDIR=services/pihole

